
.separador1, .separador{
    margin: 0 10vw;
}

header{
    background-color: rgb(216, 196, 182);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;

}

.separador1 img{
    height: 50px;
    width: 50px;
    background: transparent;
}

.separador1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separador1 ul{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

a{
    text-decoration: none;
    color: #213555;
    font-weight: 600;
    display: inline-block;
    padding: 10px;
    transition: all 0.6s;   
}

a:hover{
    background-color: #F5EFE7 ;
    border-radius: 1000%;
    scale: 105%;
}

li{
    list-style: none;
    height: 100%;    
}


